$color1:#E6273A;
$color2:#000000;
$color3:white;
$color4:rgb(86, 86, 86);
$color5:crimson;
$font1:Arial,
Helvetica,
sans-serif;
$font2:Verdana,
Geneva,
Tahoma,
sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.logo {
    color: $color1;
}

.barra {
    background-color: $color2;
}


h2 {
    background-color: $color2;
    color: $color3;
    text-align: center;
    text-transform: capitalize;
    text-shadow: 0px 0px 3px $color3;
    padding: 10px;
    margin-bottom: 0;
}

h3 {
    color: $color4;
    text-align: center;
}

.nav-link {
    text-transform: capitalize;
    font-size: 20px;

}

nav a:hover {
    color: $color1 !important;
}

.contenedor {
    display: flex;
    grid-gap: 80px;
    background-color: $color3;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.card {
    padding: 10px;
    margin: 80px 0px 80px 0px;
    width: 300px;
    border: none;
    align-items: center;
    text-align: center;
}

.card-title {
    font-size: 22px;
    font-family: $font1;
    color: $color1;
    height: 80px;
}

.card-img-top:hover {
    transform: scale(1.05);
    transition: all 0.9s;
}

.card-text {
    color: $color4;
    font-family: $font1;
    font-size: 18px;
    height: 30px;
}

.btn {
    width: 100%;
    background-color: $color4;
    color: $color3;
    text-transform: capitalize;
    border: $color2;
}

.btn:hover {
    background-color: $color1;
    color: $color3;
}

.imgpromocion {
    border-radius: 20px;
    margin: 30px;
    height: 200px;
    filter: grayscale(1);
    transition: all 0.7s;
}

.imgpromocion:hover {
    border-radius: 50px;
    margin: 30px;
    filter: none;
    transform: scale(0.9);
    transition: all 0.7s;
    box-shadow: 4px 5px 7px $color2;
}

footer {
    background-color: $color2;
    color: $color3;
    text-align: center;
    font-size: 22px;
    font-family: $font2;
    padding: 20px;

}

footer a {
    color: $color3;
}

.redes {
    color: $color3;
    /*le doy color a los logos de los vectores, ejemplo instagram facebook*/
    letter-spacing: 10px;
    /*doy espacio entre los vectores*/

}

.subir {
    height: 50px;
    width: 50px;
    background-color: $color3;
    color: $color2;
    position: fixed;
    bottom: 40px;
    right: 40px;
    text-align: center;
    font-size: 25px;
    line-height: 50px;
    border-radius: 50%;
    border: 5px solid $color3;
}

.img-main {
    width: auto;
    height: 80vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* nosotros*/

.nav1 {
    padding: 10px;
    text-align: center;
    width: 100%;
}

ul.iconos li {
    display: inline-flex;
    padding-right: 50px;
    font-size: 16px;
    justify-content: center;
    align-items: center;
}

.img-fluid {
    width: 500px;
    height: 500px;
}

.media {
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    margin: 80px 30px 80px 30px;
    text-align: justify;
}

h1 {
    color: $color5;
    text-align: left;
}

.imgNosotros {
    width: 50%;
    margin: 0px 50px 0 0;
    border-radius: 20px;
}


@media only screen and (max-width: 915px) {
    h1 {
        font-size: 30px;
    }
}

@media only screen and (max-width: 768px) {
    .nav1 {
        display: none;
    }

    h1 {
        font-size: 22px;
    }

    .img-main {
        height: 50vh;
    }
}

/* CONTACTO */

.img-contacto {
    width: 100%;
    height: 500px;
}

.titulo h1 {
    text-align: center;
}

.p-contacto p {
    text-align: center;
}

.container-fluid {
    background-color: $color4;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    padding: 10px;
    color: $color3;
    font-size: 16px;
}

.container-form h2 {
    color: $color4;
    background-color: $color3;
}

#button-contacto {
    width: 10%;
    border: solid;
}

/* tienda */

.img-tienda {
    width: 100%;
    height: 500px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 5px;
    justify-items: center;
    align-items: center;
}

.grid-item {
    text-align: center;
    width: 200px;
    height: 200px;
}

.grid-item img {
    width: 80%;
}

.grid-item img:hover {
    transform: scale(1.05);
    transition: all 1s;
    ;
}